@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maurer Lange Gasse 9-13/6/1<br />
    Wien, A-1230<br />
    <abbr title="Telefon">Telefon:</abbr>
    01 / 123 456 78
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:Support@pizzeria-pomodoro.at">Support@pizzeria-pomodoro.at</a><br />
</address>