@using (Html.BeginForm())
{
    <ul class="nav navbar-nav">
        <li>
            <button type="button" onclick="window.location.href='/Cart/CartSummary'" class="btn btn-primary" data-toggle="popover" title="My Shopping Cart">
                My Shopping Cart!
            </button>
        </li>
    </ul>
}